<div class="search">
  <%= form_with url: movies_path, method: 'GET', local: true, role: 'form' do |f| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <%= f.label :q, 'Search', class: 'sr-only' %>
          <%= f.text_field :q, id: :q, value: params[:q], autofocus: true, class: 'form-control', placeholder: 'Search for a movie here...' %>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if params[:q].present? %>
  <div class="list-group">
    <% @movies.each do |movie| %>
      <%= link_to movie_path(movie.id), class: 'list-group-item movie' do %>
        <%= image_tag movie.poster_url, width: '92', height: '138' %>
        <%= movie.original_title %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h1>
    Welcome to filmtriggers.com
  </h1>

  <p>
    A community-curated list of film triggers.
  </p>
  <p>
    Search for a movie above to see the list of triggers that our community has added to it!
  </p>
<% end %>
