<div class="movie">
  <div class="movie-title">
    <%= @movie[:title] %>
  </div>
  <div class="movie-triggers">
    <% @triggers.each do |trigger| %>
      <div class="movie-trigger">
        <%= trigger.label %> x <%= trigger['count'] %>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <%= form_with url: triggers_path, local: true do |f| %>
        <%= f.hidden_field :movie_id, value: @movie[:id] %>
        <%= f.label :label, 'Trigger' %>
        <%= f.select :label, Trigger::TRIGGERS, {}, id: :label, class: 't-trigger-select' %>
        <%= f.submit 'Add trigger' %>
      <% end %>
    <% else %>
      <p>
        <%= link_to 'Sign in', new_user_session_path %>
        to add a trigger.
      </p>
    <% end %>
  </div>
</div>
