<% title @movie.title_with_year %>

<div class="row movie">
  <div class="col-xs-12">
    <h1 class="movie-title">
      <%= @movie.title_with_year %>
      <small>
        <%= @movie.tagline %>
      </small>
    </h1>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= image_tag @movie.large_poster_url, alt: @movie.title, width: '300', height: '450', class: 'img-responsive movie-image' %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="movie-overview">
          <%= @movie.overview %>
        </p>
        <% if @movie.imdb_url.present? %>
          <%= link_to @movie.imdb_url, @movie.imdb_url %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Triggers</h4>
        <% if @movie.triggers.any? %>
          <ul class="list-group">
            <% @movie.triggers.each do |trigger| %>
              <li class="list-group-item movie-trigger">
                <%= trigger.label %> x <%= trigger['count'] %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>
            There are no triggers listed here yet. If you notice any triggers in this film please add them!
          </p>
        <% end %>

        <h4>Add a trigger</h4>
        <% if user_signed_in? %>
          <%= form_with url: triggers_path, local: true do |f| %>
            <%= f.hidden_field :movie_id, value: @movie.id %>
            <div class="form-group">
              <%= f.label :label, 'Trigger', class: 'sr-only' %>
              <%= f.select :label, Trigger::TRIGGERS, {selected: 'violence'}, id: :label, class: 'form-control t-trigger-select' %>
            </div>

            <%= f.submit 'Add trigger', class: 'btn btn-primary' %>
          <% end %>
        <% else %>
          <p>
            <%= link_to 'Sign in', new_user_session_path %>
            to add a trigger.
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @similar.any? %>
  <div class="row similar">
    <div class="col-xs-12">
      <h2>Similar</h2>
      <div class="row">
        <% @similar.sample(4).each do |movie| %>
          <div class="col-xs-12 col-sm-3">
            <%= link_to movie_path(movie.id), class: 'thumbnail' do %>
              <%= image_tag movie.large_poster_url, alt: movie.title %>
              <div class="caption">
                <h3><%= movie.title_with_year %></h3>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
