<!DOCTYPE html>
<html>
  <head>
    <title>TriggerDatabase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= form_with url: movies_path, method: 'GET', local: true do |f| %>
      <%= f.label :q, 'Search' %>
      <%= f.text_field :q, id: :q %>
      <%= f.submit 'Search' %>
    <% end %>

    <%= yield %>
  </body>
</html>
